<div>Join a game!</div>
<%= form_for @conn, "/join", fn f -> %>
  <%= text_input f, :user, placeholder: "username" %>
  <%= text_input f, :game, placeholder: "game" %>
  <%= submit "Join" %>
<% end %>

